{% extends "layout.html" %}
{% block content %}
<section class="recognize_section" id="recognize_section">
	<form id="form" action="{{ url_for('add_region_of_interest') }}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<div class="row" id="img-vg-content_1" style="margin-bottom:20px">
			<div class="wbcam-col" style="height:760">
				<div class="webcam_div" style="text-align: center; border: 3px solid #f29d0a;">
					<canvas id="canvas_picture"></canvas>
				</div>
			</div>
		</div>
		<div class="row" id="img-vg-content_2" style="margin-bottom:20px">
			<div class="col-xs-12 buttons faceapi-button">
				<button type="submit" id="continue" name="continue" value ="continue" class="c-btn">Continue without a Region of Interest</button>
			</div>
		</div>
		<div class="row" id="img-vg-content_3" style="margin-bottom:20px">
			<div class="col-xs-12 buttons faceapi-button">
				<button type="button" id="draw_line" name="draw_line" value ="draw_line" class="c-btn" style="background:#0000ff;border-color:#0000ff;color:#ffffff">Click Here to Draw a Region of Interest</button>
			</div>
		</div>
		<div class="row" id="img-vg-content_4" style="margin-bottom:20px">
			<div class="col-xs-6 buttons faceapi-button">
				<button type="button" id="clear_last" name="clear_last" value ="clear_last" class="c-btn" style="background:#f29d0a;border-color:#f29d0a;">Clear Last Line</button>
			</div>
			<div class="col-xs-6 buttons faceapi-button">
				<button type="button" id="clear_all" name="clear_all" value ="clear_all" class="c-btn" style="background:#fa0000;border-color:#fa0000;">Clear All Lines</button>
			</div>
		</div>
		<div class="row" id="img-vg-content_5" style="margin-top:50px">
			<div class="form-group col-md-12">
              <select name="roi_type" id="roi_type" class="form-control required">
                <option value="">Do you to include or exclude region of interest</option>
                <option value="Include">Include</option>
                <option value="Exclude">Exclude</option>
              </select>
            </div>
		</div>
		<div class="row" id="img-vg-content_6" style="text-align: center; margin: 0 auto">
			<div class="col-xs-12 buttons faceapi-button">
				<button type="button" id="save" name="save" value ="save" class="c-btn">Save</button>
			</div>
		</div>
	</form>
</section>
<script>
	$(document).ready(function(){
		$("#img-vg-content_4").hide();
		$("#img-vg-content_5").hide();
		$("#img-vg-content_6").hide();

		var image_html_path = "{{ details.image }}"
		console.log("image path: ", image_html_path)
		var canvas = document.getElementById("canvas_picture");
		canvas.style.width = "1000px";
		canvas.style.height = "500px";
		//var context = canvas.getContext('2d');
		//context.clearRect(0, 0, canvas.width, canvas.height);
		//var image = new Image();
		//image.src = "{{ url_for('view_camera') }}";
		//image.src = image_html_path
		//image.onLoad = function() {
		//	context.drawImage(image, 0, 0, canvas.width, canvas.height);
		//}

		var line;
		var fabric_canvas = new fabric.Canvas(canvas, {
			width:"1000",
			height: "500"
		})

		// Path to your custom pencil brush cursor image
		var pencilCursorUrl = '/static/images/brush.png';

		// Apply the custom cursor
		fabric_canvas.defaultCursor = `url(${pencilCursorUrl}), auto`;
		fabric_canvas.hoverCursor = `url(${pencilCursorUrl}), auto`;
		
		fabric_canvas.setBackgroundImage(image_html_path, fabric_canvas.renderAll.bind(fabric_canvas), {
			backgroundImageOpacity: 1,
			backgroundImageStretch: false,
		});

		var line_coordinates_array = [];
		var line_coordinates;
		var draw_line_button = document.getElementById('draw_line');
		mouse_down = false;
		draw_line_button.addEventListener('click',activate_draw_line);
		function activate_draw_line() {
			fabric_canvas.cursor = "pointer";
			$("#img-vg-content_2").hide();
			$("#img-vg-content_3").hide();

			fabric_canvas.on('mouse:down',start_line);
			fabric_canvas.on('mouse:move',draw_line);
			fabric_canvas.on('mouse:up',end_line);
			fabric_canvas.selection = false;
		}
		function start_line(o) {
			$("#img-vg-content_2").hide();
			$("#img-vg-content_3").hide();
			fabric_canvas.selection = false;
			mouse_down = true;
			let pointer = fabric_canvas.getPointer(o.e);
			line = new fabric.Line([pointer.x, pointer.y, pointer.x, pointer.y],
				{ stroke: 'red', strokeWidth: 10}
			);
			line_coordinates = {}
			line_coordinates["start_x"] = pointer.x;
			line_coordinates["start_y"] = pointer.y;
			fabric_canvas.add(line);
			fabric_canvas.requestRenderAll();
		}

		function draw_line(o) {
			fabric_canvas.selection = false;
			if (mouse_down === true) {
				let pointer = fabric_canvas.getPointer(o.e);
				line.set({
					x2: pointer.x, y2: pointer.y
				});
				fabric_canvas.requestRenderAll();
			}
		}

		function end_line(o) {
			fabric_canvas.selection = false;
			mouse_down = false
			let pointer = fabric_canvas.getPointer(o.e);
			line_coordinates["end_x"] = pointer.x;
			line_coordinates["end_y"] = pointer.y;
			line_coordinates_array.push(line_coordinates);
			console.log(line_coordinates_array.length);
			if (line_coordinates_array.length > 0) {
				$("#img-vg-content_4").show();
				$("#img-vg-content_6").show();
			}
		}


      	$(document).keypress(function(e) {
        	if(e.which == 13) {
          		$("#save").trigger("click");
        	}
      	});

      	$("#save").click(function() {
			$("#img-vg-content_2").hide();
			$("#img-vg-content_3").hide();
			$("#img-vg-content_4").hide();
			$("#img-vg-content_5").show();

			var roi_type = document.getElementById('roi_type')
			if (roi_type.value == "") {
				document.getElementById('roi_type').focus();
			} else {
				alert("here");
				var form_element = document.getElementById('form');
				var region_of_interest = document.createElement('input');
				region_of_interest.type = 'hidden';
				region_of_interest.name = 'region_of_interest';
				region_of_interest.value = JSON.stringify(line_coordinates_array);
				form_element.appendChild(region_of_interest); //add the array of lines
				form_element.submit();

			}


    	});

      	$(document).keypress(function(e) {
        	if(e.which == 13) {
          		$("#clear_last").trigger("click");
        	}
      	});
      	$("#clear_last").click(function() {
				//get the array and remove the last element
				line_coordinates_array.pop();
				//clear the canvas
				fabric_canvas.clear();
				//loop through the array and redraw lines
				for (const line_coordinates of line_coordinates_array ) {
					start_x = line_coordinates["start_x"];
					start_y = line_coordinates["start_y"];
					end_x = line_coordinates["end_x"];
					end_y = line_coordinates["end_y"];
					redraw_line = new fabric.Line([start_x, start_y, end_x, end_y],{ stroke: 'red', strokeWidth: 10});
					fabric_canvas.add(redraw_line);
				}
				fabric_canvas.setBackgroundImage(image_html_path, fabric_canvas.renderAll.bind(fabric_canvas), {
					backgroundImageOpacity: 1,
					backgroundImageStretch: false,
				});
		       	if (line_coordinates_array.length === 0) {
					$("#img-vg-content_2").show();
					$("#img-vg-content_3").hide();
					$("#img-vg-content_4").hide();
					$("#img-vg-content_5").hide();
					$("#img-vg-content_6").hide();

				}
    	});

		$(document).keypress(function(e) {
        	if(e.which == 13) {
          		$("#clear_all").trigger("click");
        	}
      	});
      	$("#clear_all").click(function() {
				//reset the array
				line_coordinates_array = [];
				//clear the canvas
				fabric_canvas.clear();
				$("#img-vg-content_2").show();
				$("#img-vg-content_3").hide();
				$("#img-vg-content_4").hide();
				$("#img-vg-content_5").hide();
				$("#img-vg-content_6").hide();
				fabric_canvas.setBackgroundImage(image_html_path, fabric_canvas.renderAll.bind(fabric_canvas), {
					backgroundImageOpacity: 1,
					backgroundImageStretch: false,
				});
    	});

	});
</script>
{% endblock content %}
