{% extends "layout.html" %}
{% block content %}
<section class="user_vehicle_section">
    <form action="{{ url_for('detection_report') }}" class="login" id="form" method="POST" name="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input id="start_date" name="start_date" type="hidden">
        <input id="end_date" name="end_date" type="hidden">
        <input id="report" name="report" type="hidden" value="detection_report">
        <div id="img-vg-content-1" style="text-align: center;">
            <div class="col-xs-12">
                <div class="searchbar-box">
                   <input class="form-control" id="date_input" name="date_input" type="text">
                </div>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
                <select name="camera_ip_address" id="camera_ip_address" class="form-control" required>
                    <option value="All" style="text-align: center;">Camera IP Address</option>
                </select>
            </div>
            <div class="col-xs-5">
                <select name="detection_category" id="detection_category" class="form-control" required>
                    <option value="All" style="text-align: center;">Detection Category</option>
                </select>
            </div>
            <div class="col-xs-1"></div>
            <button class="c-btn" id="sbmt_button" name="sbmt_button" type="submit" style="margin-top:50px">Submit</button>
        </div>
    </form>
    <div id="img-vg-content-2">
        <div class="table-responsive">
            <table class="table table-striped dataTables-example dataTable" style="width: 90%; margin:0 auto">
                <thead>
                    <tr>
                        <th>Detection Time</th>
                        <th>Detection Model</th>
                        <th>Detection Category</th>
                        <th>Camera ID</th>
                        <th>Frame ID</th>
                        <th>Detection Image</th>
                        <th>Alert Status</th>
                        <th>Alert Time</th>
                    </tr>
                </thead>
                <tbody>
                {% if details.detection_report_list %}
                {% for detection in details.detection_report_list %}
                <tr>
                    <td>{{ detection.detection_time }}</td>
                    <td>{{ detection.detection_model }}</td>
                    <td>{{ detection.detection_category }}</td>
                    <td>{{ detection.camera_ip_address }}</td>
                    <td>{{ detection.frame_id }}</td>
                    {% if detection.detection_image_location %}
                    <td>
                        <a href="javascript:show_modal('{{ detection.detection_time }}','{{ detection.detection_image_location }}')">Click here</a></td>
                    {% else %}
                    <td>No records found</td>
                    {% endif %}
                    <td>{{ detection.alert_status }}</td>
                    <td>{{ detection.alert_time }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        {% endif %}
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <!-- The Close Button -->
            <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 50px">
        <button class="c-btn" id="download" name="download" type="button">Download CSV</button>
    </div>
</section>

<script>

    function show_modal(vehicle_plate_number, vehicle_image) {
        
       // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        //var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        modalImg.src = vehicle_image;
        var captionText = document.getElementById("caption");
       //#img.onclick = function(){
        modal.style.display = "block";
        
        captionText.innerHTML = vehicle_plate_number//this.alt;
        //}

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
    }

$(document).ready(function(){

    document.getElementById("camera_ip_address").value = "{{ details.camera_ip_address }}";
    document.getElementById("detection_category").value = "{{ details.detection_category }}";

    $.ajax({
			url: "{{ url_for('get_camera_ip_address_list') }}",
			type: "GET", // Type of Request
			success: function (data) {
				let camera_select_list = document.getElementById("camera_ip_address");
				let camera_ip_list = JSON.stringify(data);
				let camera_ip_list_json = JSON.parse(camera_ip_list);

				for (var i = 0; i < camera_ip_list_json.length; i++) {
    				camera = camera_ip_list_json[i]
    				let option = document.createElement("option");
                    option.value = camera.camera_ip_address;
					option.text = camera.camera_ip_address;
					camera_select_list.appendChild(option);
    			}
			},
			// Error handling
			error: function (error) {
				console.log(`Error ${error}`);
			}
	});

	$.ajax({
        url: "{{ url_for('get_detection_category_list') }}",
        type: "GET", // Type of Request
        success: function (data) {
            let detection_category_list = JSON.stringify(data);
            let detection_category_list_json = JSON.parse(detection_category_list);
            let category_select_list = document.getElementById("detection_category");
            for (var i = 0; i < detection_category_list_json.length; i++) {
                category = detection_category_list_json[i]
                console.log(category)
                var option = document.createElement("option");
                option.value = category.detection_category;
                option.text = category.detection_category;
                category_select_list.appendChild(option);
            }
        },
        // Error handling
        error: function (error) {
            console.log(`Error ${error}`);
        }
	});

    let start_date = null
    let end_date = null
    $('#date_input').daterangepicker();
    {% if details.start_date %}
        start_date = '{{ details.start_date}}';
        $("#start_date").val(start_date);
        $('#date_input').data('daterangepicker').setStartDate(moment(start_date));
    {% else %}  
        $('#date_input').data('daterangepicker').setStartDate(moment());
        start_date = moment().startOf('day').format('YYYY-MM-DD HH:mm:ss')
        $("#start_date").val(start_date);
        
    {% endif %}
    {% if details.end_date %}
        end_date = '{{ details.end_date}}';
        $('#date_input').data('daterangepicker').setEndDate(moment(end_date));
        $("#end_date").val(end_date);
    {% else %}  
        $('#date_input').data('daterangepicker').setEndDate(moment());
        end_date = moment().endOf('day').format('YYYY-MM-DD HH:mm:ss')
        $("#end_date").val(end_date);
    {% endif %}
    
    $('#date_input').daterangepicker({
      // options here
        ranges: {
             'Today': [moment(), moment()],
             'Yesterday': [moment().subtract(1,'days'), moment().subtract(1,'days')],
             'Last 7 Days': [moment().subtract(6,'days'), moment()],
             'Last 30 Days': [moment().subtract(29,'days'), moment()],
             'This Month': [moment().startOf('month'), moment().endOf('month')],
             'Last Month': [moment().subtract(1,'month').startOf('month'), moment().subtract(1,'month').endOf('month')]
           },
        timePicker:false,
        autoApply:true,
    },function(start, end, label) {
        start_date = moment(start).startOf('day').format('YYYY-MM-DD HH:mm:ss');
        end_date = moment(end).endOf('day').format('YYYY-MM-DD HH:mm:ss');
        $("#start_date").val(start_date)
        $("#end_date").val(end_date)
    });
    $(document).keypress(function(e) {
        if(e.which == 13) {
            $("#download").trigger("click");
        }
    });
    $("#download").click(function() {
       $('#form').attr('action', '{{ url_for('download_report') }}');
        form.submit();
    });
});


</script>
{% endblock content %}
