{% extends "layout.html" %}
{% block content %}
<section class="user user_register_section" style="padding-top:2em">
  <div class="container">
      <form id="form" action="{{ url_for('edit_camera_details') }}" enctype="multipart/form-data" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="camera_id" value="{{ details.camera_id }}">
        <div class="row" id="img-vg-content-1">
            <div class="col-md-8">
              <div class="form-group col-md-12">
                <select name="camera_location" id="camera_location" class="form-control required">
                <option value="">Camera Location</option>
                  {% for location in details.locations %}
                    <option value="{{ location.location_id }},{{ location.location_name }}"> {{ location.location_name }} </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-12">
                <select name="camera_make" id="camera_make" class="form-control required">
                  <option value="">Camera Make</option>
                  <option value="HikVision">HikVision</option>
                  <option value="CPPlus">CPPlus</option>
                  <option value="Dahua">Dahua</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="form-group col-md-12">
                <input id="camera_ip_address" name="camera_ip_address" type="text" class="form-control required" value="{{ details.camera_ip_address }}">
              </div>
              <div class="form-group col-md-12">
                <input id="camera_username" name="camera_username" type="text" class="form-control required" value="Camera Username - {{ details.camera_username }}">
              </div>
              <div class="form-group col-md-12">
                <input id="camera_password" name="camera_password" type="text" class="form-control required" value="Camera Password - {{ details.camera_password }}">
              </div>
              <div class="form-group col-xs-12">
                <input id="camera_rtsp_address" name="camera_rtsp_address" type="text" class="form-control required" value="Camera RTSP - {{ details.camera_rtsp_address }}">
              </div>
            </div>
        </div>
        <div class="row" id="img-vg-content-2">
          <div class="col-xs-8 buttons text-center">
            <button type="button" id="submit_form" name="submit_form" value="Save" class="c-btn" style="width:75%">Continue</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <script>
    $(document).ready(function(){

      document.getElementById("camera_location").value = "{{ details.camera_location_id }}" + "," + "{{ details.camera_location_name }}";
      document.getElementById("camera_make").value = "{{ details.camera_make }}"

      $.validator.addMethod('IP4Checker', function(value) {
          return value.match(/^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$/);
      }, 'Invalid IP address');

      $(document).keypress(function(e) {
        if(e.which == 13) {
          $("#submit_form").trigger("click");
        }
      });
      $("#submit_form").click(function() {
        if($('#form').valid()) {
          var form_element = document.getElementById('form');
		  var input_var = document.createElement('input');
		  input_var.type = 'hidden';
		  input_var.name = 'submit_form';
		  input_var.value = 'save';
    	  form_element.appendChild(input_var);
          form_element.submit();
        }
      });
      /*
      $("#continue").click(function() {
          alert("here")
          var form_element = document.getElementById('form');
		  var input_var = document.createElement('input');
		  input_var.type = 'hidden';
		  input_var.name = 'submit_form';
		  input_var.value = 'continue';
    	  form_element.appendChild(input_var);
          form_element.submit();
      });*/

      $("#form").validate({
        errorPlacement: function (error, element){
          element.before(error);
        },
        rules: {
          camera_location: {
            required : true
          },
          camera_ip_address: {
            required : true,
            IP4Checker: true
          },
          camera_make: {
            required : true
          },
          camera_username: {
              required : true
          },
          camera_password: {
              required : true
          },
          camera_rtsp_address: {
              required : true
          },

        }
      });
    });
  </script>
{% endblock content %}
