{% extends "layout.html" %}
{% block content %}

<head>
  <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        // const socket = io('http://localhost:5000', {
        //   transports: ['websocket']
        // });
        // alert(location.protocol + '//' + document.domain + ':' + location.port)
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        // socket.emit('event_data', { 'rtsp_link': "rtsp_link" });
        socket.on('connect', function() {
                console.log('Connected to WebSocket');
        });
        socket.on('event_data', function(msg) {
          console.log(msg);
          data = msg.data;
          const formattedData = `
              <div>
                  <p><b>Time:</b> ${data.time}</p>
                  <p><b>Camera IP:</b> ${data.camera_ip}</p>
                  <p><b>Location:</b> ${data.location}</p>
                  <p><b>Detection Type:</b> ${data.detection_type}</p>
                  <p><b>Detection Model:</b> ${data.detection_model}</p>
                  <p><b>Alarm:</b> ${data.alarm ? 'Yes' : 'No'}</p>
                  <p><b>Image Location:</b> ${data.image_location}</p>
              </div>
          `;

          Swal.fire({
              title: 'Alert Info',
              html: formattedData,
              confirmButtonText: 'OK',
              confirmButtonColor: '#3085d6',
              allowOutsideClick: false,
              customClass: {
                  popup: 'my-popup-class',
                  confirmButton: 'my-confirm-button-class',
                  title: 'my-title-class',
              }
          }).then((result) => {
              if (result.isConfirmed) {
                  console.log('OK button was clicked');
                  console.log("alert_id :::::: ", msg.alert_id)

                  $.ajax({
                      type: "POST",
                      url: "/handle-alert", 
                      contentType: "application/json",
                      data: JSON.stringify({ "alert_id": msg.alert_id }),
                      beforeSend: function(xhr) {
                        // Include CSRF token as header
                        xhr.setRequestHeader("X-CSRFToken", $('meta[name="csrf-token"]').attr('content'));
                    },
                      success: function(response) {
                          console.log(response.message);
                      },
                      error: function(xhr, status, error) {
                          console.error("Error in sending alert_id: ", error);
                      }
                  });
              }
          });
        });
      });
</script>
<section class="user add-end-button-section">
  <div class="container-fluid" style="width:90%;">
    <form id="form" action="{{ url_for('home') }}" enctype="multipart/form-data" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="row two-row-btn" id="img-vg-content">
        <div class="col-md-4">
          <div class="user-form">
            <button type="submit" id="add_camera" class="fix_hbtn" name="add_camera" value="add_camera" >Add a Camera</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="user-form">
            <button type="submit" id="edit_camera" class="fix_hbtn" name="edit_camera" value="edit_camera">Edit a Camera</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="user-form">
            <button type="submit" id="view_report" class="fix_hbtn" name="view_reports" value="View Reports">View Reports</button>
          </div>
        </div>
      </div>  
    </form>
  </div>
</section>
{% endblock content %}
