{% extends "layout.html" %}
{% block content %}
<section class="user add-end-button-section">
  <div class="container-fluid" style="width:90%;">
    <form id="form" action="{{ url_for('home') }}" enctype="multipart/form-data" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="row two-row-btn" id="img-vg-content">
        <div class="col-md-4">
          <div class="user-form">
            <button type="submit" id="add_camera" class="fix_hbtn" name="add_camera" value="add_camera" >Add a Camera</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="user-form">
            <button type="submit" id="edit_camera" class="fix_hbtn" name="edit_camera" value="edit_camera">Edit a Camera</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="user-form">
            <button type="submit" id="view_report" class="fix_hbtn" name="view_reports" value="View Reports">View Reports</button>
          </div>
        </div>
      </div>  
    </form>
  </div>
</section>
{% endblock content %}
