{% extends "layout.html" %}
{% block content %}
  <section class="user login_section" style="padding-top:2em">
    <form id="form" action="{{ url_for('aadhar_lookup') }}" class="login" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="form-group col-md-12">
        <input id="aadhar_number" name="aadhar_number" type="text" class="form-control" placeholder="Enter visitor's aadhar number">
      </div>
      <div class="col-xs-12 buttons text-center">
        <button type="button" id = "login" class="c-btn" style="width: 100%;">Login</button>
      </div>
    </form>
  </section>

  <script>
  $(document).ready(function(){
    $(document).keypress(function(e) {
      if(e.which == 13) {
      	$("#login").trigger("click");
      }
    });
    $("#form").validate({
      errorPlacement: function (error, element){ 
        element.before(error);
      },
      rules: {
        aadhar_number: {
          required : true,
          maxlength: 12,
          minlength: 12
        },
      }
    });
    $("#login").click(function() {
      if($('#form').valid()) {
      	form.submit();
      }	
    });
  });
</script>
{% endblock content %}
