{% extends "layout.html" %}
{% block content %}
<section class="user add-end-button-section">
  <div class="container-fluid" style="width:90%;">
    <form id="form" action="{{ url_for('report_home') }}" enctype="multipart/form-data" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <!-- ------Three Button----- -->
    <div class="row three-row-btn" id="img-vg-content">
      <div class="col-md-4">
        <div class="user-form">
        <button type="submit" id="detection_report" name="report" value="detection_report">Detection Report</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="user-form">
        <button type="submit" id="camera_status" name="report" value="camera_status">Camera Status</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="user-form">
          <button type="submit" id="alert_report" name="report" value="alert_report">Alert Report</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>

{% endblock content %}