{% extends "layout.html" %}
{% block content %}
<section class="user add-end-button-section">
  <div class="container-fluid" style="width:90%;">
    <form id="form" action="{{ url_for('report_home') }}" enctype="multipart/form-data" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <!-- ------Three Button----- -->
    <div class="row three-row-btn" id="img-vg-content">
      <div class="col-md-4">
        <div class="user-form">
        <button type="submit" id="vehicle_report" name="report" value="vehicle_report" >Vehicle Report</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="user-form">
        <button type="submit" id="person_report" name="report" value="person_report">Person Report</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="user-form">
          <button type="submit" id="trip_report" name="report" value="trip_report">Trip Report</button>
        </div>
      </div>
    </div>

    </form>
  </div>
</section>

{% endblock content %}