{% extends "layout.html" %}
{% block content %}
  <section class="user user_register_section">
      <form id="form" action="{{ url_for('home') }}" class="login" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="col-xs-12 buttons text-center">
          <button type="submit" id="success" name="success" value="success" class="btn btn-primary">Continue</button>
        </div>
      </form>
  </section>
{% endblock content %}
onclick="return_to_reports()"