{% extends "layout.html" %}
{% block content %}
<section class="user user_register_section">
  <div class="container-fluid">
    <form id="form" action="{{ url_for('login') }}" enctype="multipart/form-data" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="row show-mood">
        <div class="col-xs-12 buttons text-center">
          <button type="submit" id ="token_error" name= "token_error" class="btn btn-primary">Continue</button>
        </div>
     </div>
    </form>
  </div>
</section>
{% endblock content %}