{% extends "layout.html" %}
{% block content %}
<script>
	$(document).ready(function(){

		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/video_live');
            
		// Send the RTSP link to the server to start streaming
		// var rtspLink = 'rtsp://ec2-13-235-48-204.ap-south-1.compute.amazonaws.com:8554/stream1'; 
		var rtspLink = "{{ details.camera_rtsp_address }} ";
		console.log("rtspLink - ", rtspLink)
		var rtspLink = "{{ details.camera_rtsp_address }}"; 
		socket.emit('start_stream', { 'rtsp_link': rtspLink });

		socket.on('frame', function(data) {
			var videoFrame = document.getElementById('videoFrame');
            var loadingIndicator = document.getElementById('spinner');

			videoFrame.src = 'data:image/jpeg;base64,' + data.data;

			// Hide the loading indicator once the first frame is received
			if (loadingIndicator.style.display !== 'none') {
                    loadingIndicator.style.display = 'none';
            }
		});

		window.onbeforeunload = function() {
			socket.disconnect();
		};

		document.getElementById('continue').addEventListener('click', function() {
			document.getElementById('spinner').style.display = 'block';
			document.getElementById('form').submit();
		});
	});
</script>
<section class="recognize_section add-camera-section" id="recognize_section">
	<form id="form" action="{{ url_for('view_camera') }}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<div class="row" id="img-vg-content_1">
			<div class="wbcam-col">
				<div class="webcam_div" style="text-align: center; border: 3px solid #f29d0a;width:100%">
					<img id="videoFrame" src="" style="width:1000px; height:500px; object-fit: cover;">
					<div id="spinner" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
						<div class="css-spinner"></div>
					</div> 
				</div>
			</div>
		</div>
		<div class="row" id="img-vg-content_2" style="margin-top:40px">
			<div class="col-xs-12 buttons text-center">
				<button type="button" id="continue" name="continue" value="continue" class="c-btn" style="width:75%">Continue</button>
			</div>
		</div>
	</form>
</section>

{% endblock content %}