{% extends "layout.html" %}
{% block content %}
<section class="recognize_section" id="recognize_section">
	<form id="form" action="{{ url_for('view_camera') }}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<div class="row" id="img-vg-content_1">
			<div class="wbcam-col">
				<div class="webcam_div" style="text-align: center; border: 3px solid #f29d0a;width:100%">
					<canvas id="canvas_picture" style="width:1000px; height:500px; object-fit: cover; background-image: url({{ url_for('view_camera') }})"></canvas>
					<div id="spinner" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
						<div class="css-spinner"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="img-vg-content_2" style="margin-top:40px">
			<div class="col-xs-12 buttons text-center">
				<button type="submit" id="continue" name="continue" value="continue" class="c-btn" style="width:75%">Continue</button>
			</div>
		</div>
	</form>
</section>

<style>
	.css-spinner {
    border: 8px solid rgba(0,0,0,.1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>
<script>
	$(document).ready(function(){
		const canvas = document.getElementById("canvas_picture");
		canvas.style.width = "1000px";
		canvas.style.height = "500px";
		var context = canvas.getContext('2d');
		
		var image = new Image();
		image.onload = function () {
			// Clear the canvas
			context.clearRect(0, 0, canvas.width, canvas.height);
			document.getElementById('spinner').style.display = 'none';
		};
		image.src = "{{ url_for('view_camera') }}";

		// context.font = "20px Arial";
		// context.fillText("Loading Image.......", 60, 80);

		document.getElementById('continue').addEventListener('click', function() {
			document.getElementById('spinner').style.display = 'block'; 
		});
	});
</script>
{% endblock content %}
